.image-dropzone {
  margin: 30px 0 20px 0;
  height: 220px;
  width: 100%;
  background: var(--pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--larger-border);
  border: 1px dashed var(--light-blue);
  cursor: pointer;
}

.active {
  border: 1px dashed var(--blue);
}

.dropzone-instruction {
  margin-top: 35px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--beta);
  color: var(--dropzone-grey);
}
