.toast-wrapper {
  min-width: 100%;
  position: relative;
}

.toast {
  background-color: var(--border-grey);
  font-size: var(--alpha);
  font-family: var(--font-family);
  font-weight: var(--medium);
  border-radius: var(--small-border);
  padding: 4px 6px;
  position: absolute;
  right: -5px;
  top: 5px;
}

.upload-success {
  background-color: var(--green);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-success .fa-check {
  color: var(--white);
}

.mrb-25 {
  margin-bottom: 25px;
}

.mrb-12 {
  margin-bottom: 12px;
}
