.center-card {
  background-color: var(--white);
  border-radius: var(--larger-border);
  box-shadow: var(--box-shadow);
  min-width: 370px;
  max-width: 370px;
  padding: 36px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-card .header,
.instruction {
  font-family: var(--font-family);
  font-weight: var(--medium);
}

.center-card .header {
  font-size: var(--eta);
  margin-bottom: 16px;
}

.center-card .instruction {
  font-size: var(--alpha);
  color: var(--grey);
}

.mrb-21 {
  margin-bottom: 21px;
}
