.center-card {
  background-color: var(--white);
  border-radius: var(--larger-border);
  box-shadow: var(--box-shadow);
  min-width: 370px;
  max-width: 370px;
  padding: 36px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-card .instruction {
  font-family: var(--font-family);
  font-weight: var(--medium);
  font-size: var(--alpha);
  color: var(--grey);
}

.mrb-21 {
  margin-bottom: 21px;
}

.mrb-16 {
  margin-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .center-card {
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .center-card {
    min-width: 265px;
    max-width: 265px;
  }
}

@media screen and (max-width: 350px) {
  .center-card {
    min-width: 240px;
    max-width: 240px;
  }
}
